---
layout: archive
title: "Publication"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% if site.publication_category %}
<div style="margin: 1em 0;">
  <strong>Jump to section:</strong>
  <ul style="list-style-type: none; padding-left: 0; margin-top: 0.5em;">
    {% for category in site.publication_category %}
      <li style="margin-bottom: 0.3em;">
        <a href="#{{ category[1].title | downcase | replace: ' ', '-' }}">{{ category[1].title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <!--<h2>{{ category[1].title }}</h2><hr /> -->
        <!--<h2 id="{{ category[1].title | downcase | replace: ' ', '-' }}">{{ category[1].title }}</h2><hr />-->
        {% assign category_posts = site.publications | where: "category", category[0] %}
        <h2 id="{{ category[1].title | downcase | replace: ' ', '-' }}">
          {{ category[1].title }} ({{ category_posts | size }})
        </h2>
        <hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



